<% layout('../template/layout') -%>

<!--main content start-->
          <section class="wrapper">
          <h3><i class="fa fa-angle-right"></i> 성장뷰어</h3>
            
          <!-- <form name="user" method="post" action="/viewer">
              <input type="text" name="height" placeholder="신장">
              <input type="text" name="weight" placeholder="체중">
              <input type="text" name="head" placeholder="머리둘레">
              <input type="text" name="powder" placeholder="분유">              
              <input type="text" name="milk" placeholder="모유">
              <input type="text" name="food" placeholder="이유식">
              <input type="text" name="sleep" placeholder="수면 시간">
              <button type="submit">submit</button>
            </form>-->
            <br>
              
            <div class="darkblue-panel pn" style="width:100%">
              <br>
              <h5>신장(30일)</h5><br><br>
							<div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" 
									  data-data="[<%= aaaa[29].height %>,<%= aaaa[28].height %>,<%= aaaa[27].height %>,<%= aaaa[26].height %>,<%= aaaa[25].height %>,<%= aaaa[24].height %>,<%= aaaa[23].height %>,<%= aaaa[22].height %>,<%= aaaa[21].height %>,<%= aaaa[20].height %>,<%= aaaa[19].height %>,<%= aaaa[18].height %>,<%= aaaa[17].height %>,<%= aaaa[16].height %>,<%= aaaa[15].height %>,<%= aaaa[14].height %>,<%= aaaa[13].height %>,<%= aaaa[12].height %>,<%= aaaa[11].height %>, <%= aaaa[10].height %>,<%= aaaa[9].height %>,<%= aaaa[8].height %>,<%= aaaa[7].height %>,<%= aaaa[6].height %>,<%= aaaa[5].height %>,<%= aaaa[4].height %>,<%= aaaa[3].height %>,<%= aaaa[2].height %>,<%= aaaa[1].height %>,<%= aaaa[0].height %>]"> 
							</div>
           </div>  
           
					  <br>	
					  
						<div class="darkblue-panel pn" style="width:100%">
              <br>
              <h5>체중(30일)</h5><br><br>
							<div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" 
									  data-data="[<%= aaaa[29].weight %>,<%= aaaa[28].weight %>,<%= aaaa[27].weight %>,<%= aaaa[26].weight %>,<%= aaaa[25].weight %>,<%= aaaa[24].weight %>,<%= aaaa[23].weight %>,<%= aaaa[22].weight %>,<%= aaaa[21].weight %>,<%= aaaa[20].weight %>,<%= aaaa[19].weight %>,<%= aaaa[18].weight %>,<%= aaaa[17].weight %>,<%= aaaa[16].weight %>,<%= aaaa[15].weight %>,<%= aaaa[14].weight %>,<%= aaaa[13].height %>,<%= aaaa[12].weight %>,<%= aaaa[11].weight %>, <%= aaaa[10].weight %>,<%= aaaa[9].weight %>,<%= aaaa[8].weight %>,<%= aaaa[7].weight %>,<%= aaaa[6].weight %>,<%= aaaa[5].weight %>,<%= aaaa[4].weight %>,<%= aaaa[3].weight %>,<%= aaaa[2].weight %>,<%= aaaa[1].weight %>,<%= aaaa[0].weight %>]"> 
							</div>
           </div>
						
						<br>
						
						<div class="darkblue-panel pn" style="width:100%">
              <br>
              <h5>머리둘레(30일)</h5><br><br>
							<div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" 
									  data-data="[<%= aaaa[29].head %>,<%= aaaa[28].head %>,<%= aaaa[27].head %>,<%= aaaa[26].head %>,<%= aaaa[25].head %>,<%= aaaa[24].head %>,<%= aaaa[23].head %>,<%= aaaa[22].head %>,<%= aaaa[21].head %>,<%= aaaa[20].head %>,<%= aaaa[19].head %>,<%= aaaa[18].head %>,<%= aaaa[17].head %>,<%= aaaa[16].head %>,<%= aaaa[15].head %>,<%= aaaa[14].head %>,<%= aaaa[13].head %>,<%= aaaa[12].head %>,<%= aaaa[11].head %>, <%= aaaa[10].head %>,<%= aaaa[9].head %>,<%= aaaa[8].head %>,<%= aaaa[7].head %>,<%= aaaa[6].head %>,<%= aaaa[5].head %>,<%= aaaa[4].head %>,<%= aaaa[3].head %>,<%= aaaa[2].head %>,<%= aaaa[1].head %>,<%= aaaa[0].head %>]">
							</div>
            </div>
            
              <!-- page start-->
              <div class="tab-pane" id="chartjs">
                  <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> 수면 그래프 (분)</h4>
                              <div class="panel-body text-center">
                                  <canvas id="line" height="300" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> 모유/분유 차트 (ml)</h4>
                              <div class="panel-body text-center">
                                  <canvas id="bar" height="300" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
                  
              </div>
              <!-- page end-->
          </section>          

      <!--main content end-->

    <!--script for this page-->
    <script src="/js/chart-master/Chart.js"></script>
    <!--<script src="/js/chartjs-conf.js"></script>-->
    <script>
    
     var date = new Date();
     var lineChartData = {
         labels : [date.getDate()-6+"일",date.getDate()-5+"일",date.getDate()-4+"일",date.getDate()-3+"일",date.getDate()-2+"일",date.getDate()-1+"일",date.getDate()+"일"],
        datasets : [
        
            {
                fillColor : "#FAECC5",
                strokeColor : "#FFBB00",
                pointColor : "#FFBB00",
                pointStrokeColor : "#fff",
                data : [<%=aaaa[6].sleep%>,<%=aaaa[5].sleep%>,<%=aaaa[4].sleep%>,<%=aaaa[3].sleep%>,<%=aaaa[2].sleep%>,<%=aaaa[1].sleep%>,<%=aaaa[0].sleep%>]
            }
        ]

    };
      new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
    </script>
    <script>
    
      
      var date = new Date();
      var barChartData = {
        
        
        
        labels : [date.getDate()-6+"일",date.getDate()-5+"일",date.getDate()-4+"일",date.getDate()-3+"일",date.getDate()-2+"일",date.getDate()-1+"일",date.getDate()+"일"],
        datasets : [
            {
                fillColor : "rgba(217,83,79,0.5)",
                strokeColor : "#d9534f",
                data : [<%=aaaa[6].milk%>,<%=aaaa[5].milk%>,<%=aaaa[4].milk%>,<%=aaaa[3].milk%>,<%=aaaa[2].milk%>,<%=aaaa[1].milk%>,<%=aaaa[0].milk%>]
            },
            {
                fillColor : "rgba(92,184,92,0.5)",
                strokeColor : "#5cb85c",
                data : [<%=aaaa[6].powder%>,<%=aaaa[5].powder%>,<%=aaaa[4].powder%>,<%=aaaa[3].powder%>,<%=aaaa[2].powder%>,<%=aaaa[1].powder%>,<%=aaaa[0].powder%>]
            },
            {
                fillColor : "rgba(66,139,202,0.5)",
                strokeColor : "#428bca",
                data : [<%=aaaa[6].food%>,<%=aaaa[5].food%>,<%=aaaa[4].food%>,<%=aaaa[3].food%>,<%=aaaa[2].food%>,<%=aaaa[1].food%>,<%=aaaa[0].food%>]
            }
        ]

    };
      new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
 </script>
    
