<% layout('../template/layout') -%>
<section class="wrapper">
    <div class="col-md-12">
        <div class="page-header">
    	    <h1><%=user[0].name%>님의 정보입니다.</h1>
        </div>
        
      
        <form name="user" action = "/users/update" class="form-horizontal" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="inputEmail">이메일</label>
              <div class="col-sm-6">
                <div class="input-group">
                   <%=user[0].username%>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="inputPassword">비밀번호</label>
          <div class="col-sm-6">
            <input class="form-control" name="password" id="inputPassword" type="password" placeholder="Password">
          <p class="help-block">숫자, 특수문자 포함 8자 이상</p>
          </div>
          </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="inputPasswordCheck">비밀번호 확인</label>
               <div class="col-sm-6">
                <input class="form-control" name="repassword" id="inputPasswordCheck" type="password" placeholder="RePassword">
                  <p class="help-block">비밀번호를 한번 더 입력해주세요.</p>
               </div>
            </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputName">이름</label>
            <div class="col-sm-6">
              <%=user[0].name%>
            </div>
          </div>
          
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputN-Check">닉네임</label>
            <div class="col-sm-6">
              <div class="input-group">
                <%=user[0].nick%>
               
              </div>
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputName">성별</label>
            <div class="col-sm-2">
              <input type = "radio" name = "gender" value = "남" checked /> Male
							<input type = "radio" name = "gender" value = "여"/> Female
              <div class="col-sm-7">
							<div class="col">
							</div>
						</div>
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputNumber">핸드폰번호</label>
            <div class="col-sm-6">
              <input class="form-control" name="phone" id="inputNumber" type="text" value="<%=user[0].phone%>">
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputName">아이 이름</label>
            <div class="col-sm-6">
              <input class="form-control" name="b_name" id="inputName" type="text" value="<%=user[0].b_name%>">
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputName">아이 생일</label>
            <div class="col-sm-6">
              <input class="form-control" name="b_birth" id="inputName" type="text" value="<%=user[0].b_birth%>" placeholder="birthday">
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputName">프로필 사진</label>
            <div class="col-sm-6">
              <input class="form-control" name="myphoto" id="inputName" type="file" value="<%=user[0].myphoto%>">
            </div>
          </div>
            
          <div class="form-group">
            <div class="col-sm-12 text-center">
              <button class="btn btn-primary" type="submit">수정완료<i class="fa fa-check spaceLeft"></i></button>
              <button class="btn btn-danger" type="button">수정취소<i class="fa fa-times spaceLeft"></i></button>
            </div>
          </div>
        </form>
          <hr>
        </div>
      <!--</article>-->
      </form>
    </div>
</section>