<% layout('../template/layout') -%>

<section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 육아 일기</h3>
       <div align="right">
        <br><a href = "/diary/writeform"><button type="button" class="btn btn-info">글쓰기</button></a>
       </div>
       <Br>
    
    <% lists.forEach(function(list){ %>   	
    <div class="showback" width="80%" align="right">
    	<b><%=list.num%></b>
	<div align="center">
    <h3><span class="glyphicon glyphicon-pencil"></span><%=list.title%></h3>
    <div align="right">
		<small><%=list.Date%></small>
	</div>
    <hr>
	</div>   
	<div align="center">
		<%-list.content%> 
		<% if(typeof user == 'object' && user && list.imageAdd) { %>
          	    <img  width="500" height="500" src="/uploads/diary/<%= list.imageAdd %>">
        <% } %>
		<!--<img width="100" height="100" src="/uploads/diary/<%= list.imageAdd %>">--><br>
    					
	</div>
	<BR>
	<bR>
	<div align="right">
	    
	    <a href="/viewer"><button type="button" class="btn btn-xs btn-warning">우리아이 성장뷰어 보러가기</button></a> 
	    <Br>
	</div>
	<table class="table table table-condensed">
        <thead>
        <tr>
            <th width=30>키(cm)</th>
            <th width=30>몸무게(kg)</th>
            <th width=30>머리둘레(cm)</th>
            <th width=30>분유(ml)</th>
            <th width=30>우유(ml)</th>
            <th width=30>이유식(ml)</th>
            <th width=30>수면시간(H)</th>
        </tr>
        </thead>

       <tbody>
           <tr>
                <!-- TODO(dean): 작업 후 rnum으로 고치기-->
            <td width=30><%=list.height%></td>
            <td width=30><%=list.weight%></td>
            <td width=30><%=list.head%></td>
            <td width=30><%=list.powder%></td>
            <td width=30><%=list.milk%></td>
            <td width=30><%=list.food%></td>
            <td width=30><%=list.sleep%></td>
            
          
          </tr>
       </tbody>
      
    </table>

	</div>
	<% }); %>
	
	
	
  </section>

    <!--script for this page-->
    <script src="assets/js/sparkline-chart.js"></script>    
    
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

