<% layout('../template/layout') -%>

<section class="wrapper">
<div>
    <h3><%=article[0].b_subject%></h3>
</div>    

 
<div class="panel panel-defaul" >

    <table class="table table-hover table-condensed" >
        
        
                 <tr>
                   <th width=10>글번호</th>
                   <td width=20> <%=article[0].b_num%></td>
                </tr>
                <tr>
                   <th width=10>제목</th>
                   <td width=20> <%=article[0].b_subject%></td>
                </tr>
                 <tr>
                   <th width=10>글쓴이</th>
                   <td width=20> <%=article[0].b_id%></td>
                </tr>
                <tr>
                   <th width=10>등록일</th>
                   <td width=20> <%=article[0].b_date%></td>
                </tr>
                <tr>
                   <th width=10>조회수</th>
                   <td width=20> <%=article[0].b_hits%></td>
                </tr>
                <tr>
                   <tr>
                   <th width=10>내용</th>
                  <td width=20><%-article[0].b_content%></td>
                </tr>
        

</div>



<div>
    <table>
        <tr>
        
                <button class="btn btn-primary btn-sm" style="margin: 0;" onClick="location.href='/board/update/<%=article.b_num%>'" >
                    <span class="glyphicon glyphicon-pencil"></span>글수정
                   
                </button>
        
        </tr>
         <tr>
        
                <button class="btn btn-primary btn-sm" style="margin: 0;" onClick="location.href='/board/<%= boardId%>/delete/<%= b_num %>'" >
                    <span class="glyphicon glyphicon-pencil"></span>글삭제
                   
                </button>
        
        </tr>
         <tr>
        
                <button class="btn btn-primary btn-sm" style="margin: 0;" onClick="location.href='/board/<%= boardId%>/<%= pageNum %>'" >
                    <span class="glyphicon glyphicon-pencil"></span>글목록
                   
                </button>
        
        </tr>
    </table>
</div>

</section>