<% layout('../template/layout') -%>
<br>
<section class="wrapper">
    <div class="showback" width="80%" align="right">
    
	<div align="center">
	 
	         <h3><span class="glyphicon glyphicon-book"></span> <%=article[0].b_subject%></h3>
            
    <div align="right">
	
		   <span class="glyphicon glyphicon-heart"></span> <%=article[0].b_hits%><br>
		 <small><%=article[0].date%></small>
		
	</div>
    <hr>
	</div>  
	  <div align="pull right">
	   <button onClick="location.href='/board/<%=boardId%>/update/<%=article[0].b_num%>'" type="button" class="btn btn-info btn-circle btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
        <button onClick="location.href='/board/<%=boardId%>/delete/<%=article[0].b_num%>'" type="button" class="btn btn-warning btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
	    <button onClick="location.href='/board/<%=boardId%>/<%=pageNum%>'" type="button" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-list"></i></button>
	 </div>
	 
	 
	<div align="center">
		<%-article[0].b_content%> 
	
	</div>
	
	</div>
	
  </section>
  <style>
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}    
</style>

