<% layout('../template/layout') -%>
<head>
    <!--<script src="/angular/angular.js"></script>-->
</head>
 <!--<div   style="text-align: right;">총게시물 건</div>-->

<section class="wrapper">
<div>
    <h3><%= boardTitle %></h3>
</div>    

<div class="panel panel-default" >

    <table class="table table-hover table-condensed" >
        <thead>
        <tr>
            <th width=10>글번호</th>
            <th width=120>제목</th>
            <th width=50>글쓴이</th>
            <th width=70>등록일</th>
            <th width=20>조회수</th>
        </tr>
        </thead>

       <tbody>
           <tr>
           <% lists.forEach(function(list){ %>
                <!-- TODO(dean): 작업 후 rnum으로 고치기-->
            <td width=20> <%=list.b_num%></td>
            <td width=120>
                <a href="/board/<%= boardId %>/content/<%=list.b_num%>"><%=list.b_subject%></a>
            </td>
            <td width=50><%=list.nick%></td>
            <td width=70><small><%=list.b_date%></small></td>
            <td width=20><span class="badge"><%=list.b_hits%></span></td>
          
          </tr>
           <% }); %>
       </tbody>
      
        </table>

</div>

<div class="pull-left" ng-app="">
    <table>
        <tr>
            <td>
                <my-pagination-directive max-visible-pages="5"
                                         count-all-api-url="apis/countAll">
                </my-pagination-directive>
            </td>
        </tr>
    </table>
</div>

<div class="pull-right" ng-app="">
    <table>
        <tr>
        
                <button class="btn btn-primary btn-sm" style="margin: 0;" onClick="location.href='/board/<%=boardId%>/write'" >
                    <span class="glyphicon glyphicon-pencil"></span>글쓰기
                   
                </button>
         <!--  <a ng-href="write">글쓰기</a>-->
        </tr>
    </table>
</div>
</section>




