<% layout('../template/layout') -%>
<head>
   <!-- <script src="/angular/angular.js"></script>-->
   <script type="text/javascript" src="/se2/js/HuskyEZCreator.js" charset="utf-8">
   </script>
</head>

<section class="wrapper">
<div class="row">
    <div class="col-lg-10">
        <% if(typeof article == 'object' && article){ %>
            <form action="/board/<%= boardId %>/update/<%= b_num %>" method="post" >
        <% } else{ %>
            <form action="/board/<%= boardId %>/write" method="post" >
        <% } %>
            <table class="table">
                <tr>
                    <td align="right"><strong>제목  </strong></td>
                    <% if(typeof article == 'object' && article){ %>
                        <td><input type="text" name="b_subject" id="title" maxlength="150" class="form-control" value="<%= article[0].b_subject %>"/></td>
                    <% } else{ %>
                        <td><input type="text" name="b_subject" id="title" maxlength="150" class="form-control" /></td>
                    <% } %>
                </tr>
                <tr>
                    <td align="right"><strong>내용  </strong></td>
                    <!--<td><textarea id="detailedContents"  name="b_content" class="form-control" rows="10"  ng-model="b_content"></textarea></td>-->
                    <% if(typeof article == 'object' && article){ %>
                        <td><textarea name="b_content" id="ir1" rows="10" cols="100" style="width:750px; height:412px; display:none;" ><%- article[0].b_content %></textarea></td>    
                    <% } else{ %>
                        <td><textarea name="b_content" id="ir1" rows="10" cols="100" style="width:750px; height:412px; display:none;" ></textarea></td>    
                    <% } %>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <% if(typeof article == 'object' && article){ %>
                            <button type = "button" href="/board/<%= boardId %>/write/<%= b_num %>" class="btn btn-primary btn-sm">
                        <% } else{ %>
                            <button type = "button" href="/board/<%= boardId %>/write" class="btn btn-info btn-sm">
                        <% } %>
                            <span class="glyphicon  glyphicon-th-list"></span>  다시작성
                        </button>
                        <button type="button" onclick="submitContents(this);" class="btn btn-warning btn-sm" >
                            <span class="glyphicon  glyphicon-ok"></span>  글등록
                        </button>
                    </td>
                </tr>
            </table>
        </form>

<script type="text/javascript">
    var oEditors = [];
    
    // 추가 글꼴 목록
    //var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];
    
    nhn.husky.EZCreator.createInIFrame({
    	oAppRef: oEditors,
    	elPlaceHolder: "ir1",
    	sSkinURI: "/se2/SmartEditor2Skin.html",	
    	htParams : {
    		bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
    		bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
    		bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
    		//aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
    		fOnBeforeUnload : function(){
    			//alert("완료!");
    		}
    	}, //boolean
    	fOnAppLoad : function(){
    		//예제 코드
    		//oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
    	},
    	fCreator: "createSEditor2"
    });
    	
    function submitContents(elClickedObj) {
    	oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.
    	
    	// 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("ir1").value를 이용해서 처리하면 됩니다.
    	
    	try {
    		elClickedObj.form.submit();
    	} catch(e) {}
    }
    
</script>
        
        
        
        
    </div>
</div>





